<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cfmc.quotas.app_settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cfmc.quotas.app_settings>
            <setting name="server" serializeAs="String">
                <value>172.16.1.230</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>limits_2009c</value>
            </setting>
        </cfmc.quotas.app_settings>
    </userSettings>
</configuration>